/**
 * Original by <https://elad2412.github.io/the-new-css-reset/>
 * Adapted for chrome87
 */

/*
    Remove all the styles of the "User-Agent-Stylesheet",
    except for the 'display' property.
    All basic tags are affected except:
    - iframe
    - canvas
    - embed
    - img
    - svg
    - video
 */
a, abbr, address, area, article, aside, audio, b, base, bdi, bdo, blockquote,
body, br, button, caption, cite, code, col, colgroup, command, datalist, dd,
del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, input, ins, kbd,
keygen, label, legend, li, link, map, mark, menu, meta, meter, nav, noscript,
object, ol, optgroup, option, output, p, param, pre, progress, q, rp, rt, ruby,
s, samp, script, section, select, small, source, span, strong, style, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, title, tr,
track, u, ul, var, wbr {
    all: unset;
    display: revert;
}

/* Reapply the pointer cursor for anchor tags */
a {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
*[hidden] {
    display:none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
*[contenteditable] {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
*[draggable="true"] {
    -webkit-user-drag: element;
}
